body {
  background-color: #d4d4d6;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  margin: 0;
  overflow: scroll;
}
* {
  padding:0;
  margin:0;
  font-family: "Shadows Into Light", cursive;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  color: white;
}

.footer {
  text-align: center;
  width: 100%;
  color: #f8f2f2;
}
.notes{
  padding:10px;
  width:100%;
  position: relative;
  left:50%;
  transform: translate(-50%,0);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:20px;
}

.note {
  max-width: 240px;
  min-width:200px;
  flex-grow: 1;
  flex-shrink:1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.3);
  margin: 16px 0px;
  padding: 10px;
  position: relative;
  float: left;
}
.note h2 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.note p {
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color:white;
}
.input-box {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 30px;
  transform: translate(-50%, 0%);
  padding: 10px;
  transition: ease-in-out 0.9s;
}
.input-box .input {
  width: 90%;
  font-size: 20px;
  display: block;
  border: none;
  margin: 10px 10px;
  overflow: hidden;
  outline:none;
  resize: none;
  
}
.input-box .input:focus {
  border: none;
  outline: none;
}
.input-box button {
  
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: none;
}
.input-box button:hover {
  cursor: pointer;
  color: #ffaf03;
  background-color: white;
  border: 0.5px solid #ffaf03;
}

.form{
  position:absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  padding:20px;
  padding-right:40px;
  display:flex;
  flex-direction: column;
  gap: 20px;
  border:0.5px solid rgb(250, 246, 246);
  border-radius:10px;
  width:fit-content;
  height:fit-content;
}
.form a{
  font-size:12px;
  color:blue;
}
.form a:hover{
  text-decoration: underline;
}

@media (max-width:500px){
  .input-box{
    width:90%;
  }
  .notes{
    width:90%;
  }
  .note{
    max-width:100%;
  }
}
